<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuckTree</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  </head>
  <style>
    h1 {
      font-family: Raleway, sans-serif;
      text-align: center;
      size: 50px;
      //font-weight: lighter;
    }
    p1 {
      font-family: Raleway, sans-serif;
      font-weight: bold;
    }
    #disDiv {
      text-align: center;
    }
  </style>
  <body>
    <h1>You entered the wrong info bruh</h1>
    <div id="disDiv">
    <p1><a href="https://WebScraper.l0stidi0t.repl.co">Go back</p1>
    </div>
  </body>
</html>
